/*
Theme Name: Visual Composer Starter Child
Theme URI: http://visualcomposer.com
Description: Visual Composer Starter child theme
Author: The Visual Composer Team
Author URI: http://visualcomposer.com
Template: visual-composer-starter
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, blog, starter, responsive-layout, accessibility-ready, sandwich-menu
Text Domain: visual-composer-starter-child
*/

.vce-text-block {
  color: #333;
  font-weight: 300;
  font-size: 12pt;
}

.entry-content ul > li {
  left: 0;
  padding-left: 20px;
}

.entry-content ul > li:before {
  color: #222 !important;
  left: 0;
}

.entry-content ul.woocommerce-shipping-methods li:before {
  display: none;
}

.woocommerce-product-details__short-description {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: lighter;
}

.summary .wis-header {
  font-family: "Poppins";
  color: #222;
  margin-bottom: 0.5rem;
}

.summary .wis-box-details {
  color: #4b4f57;
  font-size: 1.25rem;
  font-weight: lighter;
}

.summary .entry-categories {
  display: none;
  font-size: 2rem;
}

.summary .wis-box-designation {
  font-weight: bold;
  color: #81d4f4;
  margin-bottom: 0;
  padding: 0.2rem;
  font-size: 1.3rem;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #4b4f57 !important;
  font-size: 2rem;
  font-weight: 300;
}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
  text-decoration: none;
  padding-right: 0.5rem;
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
  font-size: 1.5rem;
}

.onsale.vct-sale {
  display: none;
}

.woocommerce div.product form.cart .button.single_add_to_cart_button {
  font-family: "Open Sans";
  background: #222;
  color: white;
  max-height: 60px;
}

body, #main-menu ul li ul li, .comment-content cite, .entry-content cite, #add_payment_method .cart-collaterals .cart_totals table small, .woocommerce-cart .cart-collaterals .cart_totals table small, .woocommerce-checkout .cart-collaterals .cart_totals table small, .visualcomposerstarter.woocommerce-cart .woocommerce .cart-collaterals .cart_totals .cart-subtotal td, .visualcomposerstarter.woocommerce-cart .woocommerce .cart-collaterals .cart_totals .cart-subtotal th, .visualcomposerstarter.woocommerce-cart .woocommerce table.cart, .visualcomposerstarter.woocommerce .woocommerce-ordering, .visualcomposerstarter.woocommerce .woocommerce-result-count, .visualcomposerstarter legend, .visualcomposerstarter.woocommerce-account .woocommerce-MyAccount-content a.button {
  font-family: "Open Sans" !important;
  font-weight: 400;
}

.woocommerce-shipping-methods {
  list-style: none;
}

.visualcomposerstarter .woocommerce a.button {
  color: red;
  width: auto;
}

.visualcomposerstarter .woocommerce-notices-wrapper {
  width: 100%;
}

.visualcomposerstarter div.woocommerce-message {
  background: #f2f2f2;
  color: #222;
  font-weight: lighter;
  font-family: "Open Sans";
  width: 100%;
  font-size: 16px;
}

.visualcomposerstarter div.woocommerce-message a.button {
  color: #222 !important;
  text-decoration: underline;
  font-family: "Open Sans";
  width: auto;
}

.visualcomposerstarter .vct-close-woocommerce-msg:before, .visualcomposerstarter .vct-close-woocommerce-msg:after {
  background: #666;
  color: #666;
}

.visualcomposerstarter .woocommerce-cart-form {
  font-weight: lighter !important;
  font-family: "Open Sans" !important;
}

#cookie-law-info-bar .cli-bar-message {
  font-family: "Open Sans";
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: lighter;
  width: auto;
}

.woocommerce div.product .woocommerce-product-gallery.images {
  padding-left: 4rem;
}

.woocommerce div.product .woocommerce-product-gallery.images .flex-control-nav {
  position: absolute;
  top: 0;
  left: 0;
}

.woocommerce div.product .woocommerce-product-gallery.images .flex-control-nav li {
  width: 50px;
  float: none;
  margin-bottom: 0.5rem;
  border: 1px solid #f2f2f2;
}

.cart-empty.woocommerce-info {
  background: transparent;
  margin-bottom: 3rem !important;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Open Sans";
}

.navbar-toggle {
  margin-top: 0;
}

#main-menu > ul > li a {
  color: #333;
  font-family: "Open Sans" !important;
  font-weight: lighter !important;
}

#main-menu > ul > li a:hover {
  text-decoration: underline;
}

.vct-cart-wrapper {
  transform: scale(0.65);
}

.visualcomposerstarter .vct-cart-items-count,
.visualcomposerstarter .vct-cart-items-count {
  color: white;
}

#Shopping-Cart-Icon {
  color: #333 !important;
}

.visualcomposerstarter .woocommerce form.checkout #payment.woocommerce-checkout-payment {
  padding-right: 0;
}

.visualcomposerstarter .woocommerce form.checkout h3 {
  color: #333;
  font-weight: 400;
  font-size: 1.25rem;
  font-family: "Open Sans";
}

.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order-table {
  background: white;
  padding: 0.5rem 0;
  margin: 0;
}

.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order-table tr th,
.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order-table tr td {
  padding: 0.45rem 0rem;
}

.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order-table tr th.product-name,
.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order-table tr td.product-name {
  display: flex;
}

.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order-table tr th.product-total,
.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order-table tr td.product-total {
  background: yellow;
}

.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order-table tr td:first-child, .visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order-table tr th:first-child {
  width: 100%;
  background: transparent;
  text-align: left;
}

.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order-table tr td:last-child, .visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order-table tr th:last-child {
  width: 40%;
  background: transparent;
  text-align: right;
}

.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order {
  display: flex;
  flex-direction: column;
}

.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table {
  order: 1;
}

.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order .wc-gzd-order-submit {
  margin-top: 1rem;
  margin-bottom: 3rem;
  order: 2;
}

.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order #order_payment_heading {
  order: 3;
}

.visualcomposerstarter .woocommerce form.checkout .woocommerce-checkout-review-order .wc-gzd-checkbox-placeholder {
  order: 4;
}

.visualcomposerstarter .woocommerce form.checkout label.checkbox .input-checkbox {
  margin: 4px 10px 3px 0;
}

.visualcomposerstarter .woocommerce form.checkout label.checkbox .input-checkbox.woocommerce-form__input {
  margin-left: 3px;
}

.visualcomposerstarter .woocommerce button.button,
.visualcomposerstarter .woocommerce a.button {
  font-weight: 400;
  font-size: 1.25rem;
  font-family: "Open Sans" !important;
}

.visualcomposerstarter .woocommerce a.button {
  font-weight: bold !important;
  padding: 1rem !important;
  font-size: 1.25rem;
  font-family: "Open Sans" !important;
}

.visualcomposerstarter .woocommerce-info,
.visualcomposerstarter .woocommerce-error {
  background: #f1f1f1;
  color: #333 !important;
  padding: 0.5rem 2rem;
}

.visualcomposerstarter .woocommerce-info a.showcoupon,
.visualcomposerstarter .woocommerce-error a.showcoupon {
  color: #333;
}

.visualcomposerstarter .woocommerce-info a.showcoupon:hover,
.visualcomposerstarter .woocommerce-error a.showcoupon:hover {
  color: #333;
}

.visualcomposerstarter .woocommerce-info:before,
.visualcomposerstarter .woocommerce-error:before {
  display: inline-block;
  position: absolute;
  top: 0.75em;
  left: 0.5em;
  right: 0;
}

.visualcomposerstarter .woocommerce-info a,
.visualcomposerstarter .woocommerce-error a {
  margin: 0 0.45rem;
  font-size: 1rem;
  color: #222 !important;
  border-color: #222;
}

.visualcomposerstarter .vct-close-woocommerce-msg-container {
  top: 0.75em;
  right: 0.5em;
}

.visualcomposerstarter .visualcomposerstarter .woocommerce .button[name=apply_coupon], .visualcomposerstarter .visualcomposerstarter .woocommerce .button[name=update_cart], .visualcomposerstarter .visualcomposerstarter .woocommerce .vct-checkout-button {
  border: 2px solid;
  border-radius: 0;
  background: 0 0;
  padding: 15px 68px;
  text-transform: uppercase;
  float: right;
  font-size: 12px;
  transition: opacity 0.2s ease-in-out;
}

.visualcomposerstarter .woocommerce .button[name=apply_coupon],
.visualcomposerstarter .woocommerce .button[name=update_cart] {
  border-color: #333 !important;
  color: #333 !important;
  font-weight: bold;
  outline: none !important;
}

.visualcomposerstarter .woocommerce .button[name=apply_coupon]:hover,
.visualcomposerstarter .woocommerce .button[name=update_cart]:hover {
  background: #333 !important;
  color: #fff !important;
}

.visualcomposerstarter .woocommerce .button#place_order {
  font-weight: bold !important;
}